@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.subrayado {
    border-color: #149ddd !important;
    width: 4em;
}

.menuPc {
    color: white;
    background-color: #050d18;
    position: fixed;
    height: 100vh;
}

.iconoMenu {
    width: 2em;
    height: 2em;
    background-color: #212531;
    font-size: x-large;
}

.iconoMenu:hover {
    color: #149ddd;
    background-color: white;
}

.iconoFacts {
    width: 2em;
    height: 2em;
    font-size: x-large;
    color: #149ddd;
}

.iconoServices {
    width: 2.5em;
    height: 2.5em;
    font-size: x-large;
    background-color: #149ddd;
    color: white;
}
.iconoContact {
    width: 2.5em;
    height: 2.5em;
    font-size: x-large;
    background-color: #f5f8fd;
    color: #149ddd;
}

.iconoResponsive {
    width: 4em;
    height: auto;
    background-color: #149ddd;
}

.titulito {
    color: #1f5297;
}

.negrita {
    color: #050d18;
}

.hero {
    background-image: url(./assets/hero-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.fondo {
    background-color: #f5f8fd;
}

.pbRecta {
    border-radius: 0%;
}

.fondoAzulClaro {
    background-color: #1d9ddd;
}

.textoDerecha {
    float: right;
    margin-right: 0%;
}

.circulito {
    width: 1em;
    height: 1em;
    transform: translateX(
        calc(-50% - 1.5px)
    ); /*Sin el calc no puede coger ambas medidas y sin el 1.5px no se centra respecto al borde porque bootstrap pone el borde hacia fuera de la caja*/
}

.tituloCirculitos {
    padding-top: 0;
    line-height: 1;
}

.columnaCirculitos {
    border-color: #1f5297 !important;
    padding-top: 0;
}

.azulClaro {
    color: #149ddd !important;
}

.botoneraPortfolio {
    height: 2rem;
}

.btnPortfolio {
    background-color: white;
    font-weight: bold;
    color: black;
}

.textFormulario {
    resize: none;
}

.entrada {
    border-radius: 0;
}

.btnForm:hover {
    color: #149ddd !important;
    border: 1px solid #149ddd;
}

.footer {
    background-color: #1f5297;
}

.iconoFooter {
    width: 3em;
    height: auto;
}
