/*
Fuentes
Texto: sans serif
Cabeceras: raleway

Colores
Location/Email/Call/Happy clients/Proyects (el azul oscuro): #050d18
Azul claro: #149ddd
Letra: #272829 salvo titulitos y eso
Fondo testimonio: #f5f8fd
El otro fondo es blanco blanco
Celeste de arriba de testimonios, de las comillas: #c3e8fa
La letra negrita, al menos en Facts, es azul oscuro, no negro.
*/

.menuPc {
    color: white;
    background-color: #050d18;
    position: fixed;
    height: 100vh;
}
.iconoResponsive {
    width: 4em;
    height: auto;
    background-color: #149ddd;
}

.iconoContact {
    width: 4em;
    height: auto;
    /*color: #149ddd;*/
}

.titulito {
    color: #1f5297;
}

.negrita {
    color: #050d18;
}

.hero {
    background-image: url(./assets/hero-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.fondo {
    background-color: #f5f8fd;
}

.pbRecta {
    border-radius: 0%;
}

.fondoAzulClaro {
    background-color: #1d9ddd;
}

.textoDerecha {
    float: right;
    margin-right: 0%;
}

.circulito {
    width: 1em;
    height: 1em;
    transform: translateX(
        calc(-50% - 1.5px)
    ); /*Sin el calc no puede coger ambas medidas y sin el 1.5px no se centra respecto al borde porque bootstrap pone el borde hacia fuera de la caja*/
}

.tituloCirculitos {
    padding-top: 0;
    line-height: 1;
}

.columnaCirculitos {
    border-color: #1f5297 !important;
    padding-top: 0;
}

.azulClaro {
    color: #149ddd;
}

.botoneraPortfolio {
    height: 2rem;
}

.btnPortfolio {
    background-color: white;
    font-weight: bold;
    color: black;
}

.textFormulario {
    resize: none;
}

.entrada {
    border-radius: 0;
}

.btnForm:hover {
    color: #149ddd !important;
    border: 1px solid #149ddd;
}

.footer {
    background-color: #1f5297;
}

.iconoFooter {
    width: 3em;
    height: auto;
}
